<!DOCTYPE html>
<html>
  <head>
        <title>Food Appd</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 
  </head>


  <body>
    <section class="recipes-filter">
      <div class="left-content">

        <h1>Food App</h1>
        <div class="fridge">
          <div class="circle">
          </div>
          <%= image_tag ("Basket.svg"), :class => "basket"%>
          <div class="rectangle">
            <%= link_to new_fridge_path do %> 
              <button class="button-container">
                <h5>ADD FOOD</h5>
              </button>
            <% end %>
            <ul type="disc">
              <% @fridge.each do |item| %>
                <li>
                  <span> - </span>
                  <%= link_to item.content, fridge_path(item) %>
                  <%= link_to edit_fridge_path(item), method: 'get' do %>
                    <i class="fa-solid fa-pen-to-square fa-1x"></i>
                  <% end %>
                  <%= link_to fridge_path(item), method: 'delete', data: { confirm: 'Are you sure?' } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="right-content">

        <% @ingredientsOfRecipes.each do |item| %>
          <%@count = 0%>
          <div class="recipe-container">
            <h2>
              <%= item['name']%>
            </h2>
            <p>
              recette de : 
              <%= item['author']%>
            </p>
            <div class="info-container">
              <div class="content">
                <i class="fa-solid fa-clock"></i>
                <%= item['prep_time']%>
              </div>
              <div class="content">
                <i class="fa-solid fa-mitten"></i>
                <%= item['difficulty']%>
              </div>
              <div class="content">
                <i class="fa-solid fa-sack-dollar"></i>
                <%= item['budget']%>
              </div>
            </div>
            <ul>
            <% item['ingredients'].each do |ingredient| %>
            <%@result = ''%>
            <% for food in 0..(@foods.size-1) do%>
              <%if ingredient.include? @foods[food] %>
                <li>
                  <%= ingredient %>
                  <i class="fa-solid fa-check" style="color: green; margin-left: 10px"></i>
                  <% @result = 'OK'%>
                  <% @count += 1 %>
                </li>
                <% food == @foods.size %>   
              <% end %>
              <%# FOR CAPITALIZE %>
              <%if ingredient.include? @foods[food].capitalize %>
                <li>
                  <%= ingredient%>
                  <i class="fa-solid fa-check" style="color: green; margin-left: 10px"></i>
                  <% @result = 'OK'%>
                  <% @count += 1 %>
                </li>
                <% food == @foods.size %>
              <% end %>
            <%end%>
            
            <%if @result != 'OK'%>
              <li>
                <%= ingredient%>
              </li>
            <%end%>
          <%end%>
          </ul>
          <div class='content'>
            <%= @count.to_s + " / " + item['ingredients'].size.to_s + " ingrédients"%>
          </div>
        </div>
      <% end %> 
      

    </div>

    </section>
  </body>
</html>

